{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1 class="display-1">Welcome Back, {{ user.full_name }}</h1>
<p>Here is the following information we have stored in your profile for our records...</p>
<ul class="list-group">
    <li class="list-group-item">First Name: {{ user.first_name }}</li>
    <li class="list-group-item">Last Name: {{ user.last_name }}</li>
    <li class="list-group-item">Username: {{ user.username }}</li>
    <li class="list-group-item">Email Address: {{ user.email }}</li>
</ul>
</div>

<div class="container">
<h2 class="display-2">Feedback by: {{ user.username }}</h2>
{% if user.feedbacks %}
{% for feedback in user.feedbacks %}
<ul class="list-group">
    <li class="list-group-item">{{ feedback.title }} <a href="/feedback/{{ feedback.id }}/update">Show More/Edit</a> <button class="btn btn-danger">Delete</button></li>
</ul>
{% endfor %}
{% else %}
<p>No feedbacks recorded for {{ user.username }} yet!</p>
{% endif %}
</div>

{% endblock %}